{% extends 'cadastro/base.html' %}
{% block conteudo %}      
<div class="container">
    <h1 class="text-center">Produtos cadastrados</h1>
    <table class="table table-bordered table-striped">
        <tr>
            <th>id</th>
            <th>Produto</th>
            <th>Valor</th>
            <th>Quantidade</th>
        </tr>
        {% for cadastro in produtos %} <!--nome do models(tabela) e nome do dicionário-->
        <tr>
            <td>{{cadastro.id_produto}}</td>
            <td>{{cadastro.produto}}</td>
            <td>{{cadastro.valor}}</td>
            <td>{{cadastro.quantidade}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %} 
    